/* =============================== COMMON ========================== */
:root {

  --blanco: #ffffffd4;
  --oscuro: #212121;
  --nav_bar: rgb(0 0 0 / 32%);
  --encabezado: #080808bf;
  --gris: #757575;
  --grisClaro: #c5cace;
}
body {
	font: 13px/130% Arial, Helvetica, sans-serif;
	margin: 0px;


  height: 400px;
  background-image: url("../Imagenes/slider-nuevo.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;




}

/* ========================= Formato de tablas y scrolling ======================== */

article  {
	margin: 0;
	padding: 0;
 	overflow: auto;

	border: 1px solid #444;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

/* ======================== Fija la primera linea de las tablas ======================= */



/*thead {
position: -webkit-sticky;
position: sticky;
top: 0px;
}*/

/* =============================== Formato titulos ========================== */

h1{
	font-size: 25px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	color: var(--blanco);
}
h2{
	font-size: 20px;
	text-align: center;
	color: var(--blanco);
  margin: 0;
}

#Cajon1  {
	width: 80%;
	height:100%;
	float: left;
}

#Cajon2  {
	width: 20%;
	height:100%;
	float: right;
}


#Cajon3  {
	width: 80%;
	height:100%;
	float: right;
}

#Cajon4  {
	width: 20%;
	height:100%;
	float: left;
}


/* =============================== HEAD ========================== */
	/*formato a los encabezados*/

.barra_informacion{
  width: 100%;
  background-color: var(--nav_bar);
  height: 20px;
  align-content: center;
  margin: 0;
  padding: 18px 0px 10px 0px;
  z-index: 100;

}

#barra_sec{
	display: grid;
	grid-template-columns: 100px auto 100px;
	column-gap: 1rem;

}
.text_info{
	align-items: center;
	padding: 0px;
	margin: 0px;
}

.text_info_1{
	align-items: center;
	padding: 0px;
	margin: 0px;
  width:90%
}

body header{
	position: fixed;
	width: 100%;
	z-index: 100;

}

.titulo{
  width: 100%;
  height: 30px;
  background-color: var(--oscuro);
  margin: 0px;
  padding: 1px 0px 8px 0px;
  z-index: 100;
}

.titulos_y_logo {
  width:20%;
}


.titulos_y_logo_1 {
  width:90%;
}

 #logo{
   position: relative;
   right: -80px;
   top: 3px;
   border-radius: 4px;
   height: 82.5px;
   width: 82.5px;
   z-index: 100;
 }


 #logo_1{
   position: relative;
   right: -1px;
   top: 3px;
   border-radius: 4px;
   height: 82.5px;
   width: 250px;
   z-index: 100;
 }

 #logo_2{
	position: relative;
	right: -20px;
	top: 0px;
	border-radius: 4px;
	height: 38px;
	width: 38px;
	z-index: 100;
 }

.link_menu{
	margin-top: 12px;
	margin-left: 20px;
	text-align: left;
}

.link_logout_1{
	margin-top: 12px;
	margin-right: 0px;
	text-align: right;

}

.link_logout{
	margin-top: 12px;
	text-align: 40px;

}

.link_menu a, .link_logout_1 a {
	margin-top: 6px;
	color: var(--blanco);
	text-decoration: none;
	font-size: 15px !important;
	font-weight: bold;
	text-transform: uppercase;


}

.link_menu a, .link_logout a {
	margin-top: 6px;
	color: var(--blanco);
	text-decoration: none;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;

}

.material-icons:hover  {
    cursor: pointer;
	color: var(--grisClaro);
}




.material-icons {
  font-family: 'Material Icons'!important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 25px !important;
  display: inline-block !important;
  line-height: 1 !important;
  text-transform: none !important;
  letter-spacing: normal !important;
  word-wrap: normal !important;
  white-space: nowrap !important;
  direction: ltr !important;
  vertical-align: middle !important;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased !important;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility !important;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale !important;

  /* Support for IE. */
  font-feature-settings: 'liga'!important;
}


.material-icons_2 {
  font-family: 'Material Icons'!important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 35px !important;
  display: inline-block !important;
  line-height: 1 !important;
  text-transform: none !important;
  letter-spacing: normal !important;
  word-wrap: normal !important;
  white-space: nowrap !important;
  direction: ltr !important;
  vertical-align: middle !important;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased !important;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility !important;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale !important;

  /* Support for IE. */
  font-feature-settings: 'liga'!important;
}

/*============================Menú desplegable=================*/

.container{

  	padding: 0px;
}

.contenedor_menu{
	width: 100%;

}
.card{
  width: 100%;
  height: 758px;
  background-color: var(--nav_bar);
  border-radius: 0px 0px;
}

.card2{
  width: 600%;
  height: 758px;
  background-color: var(--nav_bar);
  border-radius: 0px 0px;
}

.titulo_menu{
  border-radius: 0px 0px 0px 0px;
  padding: 5px;
  background-color: var(--encabezado);
}

h3{
  color: #FFFFFF;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
}




/*============================Menú Principal=================*/
#menu {
    padding: 0;
    margin: 0;
    border: 0;
}

#menu ul, li {
    list-style: none;
    margin: 0;
    padding: 0;


  /* transition: 0.05s all;*/
  font-family: sans-serif;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  text-decoration-style: none;
  list-style: none;
  display: block;
  display: list-item;
  list-style-type: none;



}

#menu ul {
    position: relative;
    z-index: 597;
    float: left;
}

#menu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;


    list-style: none;
}

#menu ul li.hover,
#menu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}




#menu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%;
}

#menu ul ul li {
    float: none;
}

#menu ul li:hover > ul {
    visibility: visible;

  display: block;
  cursor: pointer;
}

#menu ul ul {
    top: -10%;
    left: 100%;
}

.menu_linea_final {
    top: -162% !important;
}


#menu ul li {
    float: none;
}

#menu {
    width: 100%;
}

#menu ul li ul {
    width: 100%;
    top: -32%;
}

#menu span, #menu a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.7px;
    text-decoration: none;
}

#menu:after, #menu ul:after {
    content: '';
    display: block;
    clear: both;
}

#menu ul, #menu li {
    width: 100%;
}
#menu li {
    background: rgb(0 0 0 / 0%);
}
#menu li:hover {
    background: #545252;
}
#menu a {
    color: white;
    line-height: 118%;
    padding: 18px 28px 11px 28px;
    width: 79%;
}
#menu ul ul li {
    background: #080808bf;
}
#menu ul ul li:hover {
    background: grey;
}
#menu ul ul li:hover a {
    color: white;
}
#menu ul ul li ul li {
    background: #080808bf;
}
#menu ul ul li ul li:hover {
    background: grey;
}
#menu .has-sub {
    position: relative;
}

#menu .has-sub:after, #menu .has-sub > ul > .has-sub:hover:after {
    content: '';
    display: block;
    width: 10px;
    height: 9px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5px;
}

#menu .fa-angle-right {
    float: right;
}

/*============================Menú Gestion de proyectos =================*/

* {margin: 0px;padding: 0px;}

body {
width: 100%;
height: 100%;
font:12px
"Open Sans", sans-serif;
}
#view-code{
  color:#4183d7;
  font-size:13px;
  text-transform:uppercase;
  font-weight:700;
  text-decoration:none;
  position:absolute;top:640px; left:50%;margin-left:-35px;
}
div.screen{
  width:300px;
	height:400px;
	overflow:hidden;
	position:absolute;
	top:50px;
	left:50%;
  margin-top: 3%;
  margin-left: 33%;
}

.list{margin-top:36px; text-align:left;}
.item{
	height:115px;
	margin-top:30px 0;
	padding-left:115px;
	clear:both;
}
.item .img, .item span{background:#214273; border-radius:3px;}
.item .img{float:left; width:71px; height:71px; margin-left:-93px;}
.item span{height:11px; width:180px; margin-bottom:19px; float:left;}
.item span:nth-of-type(3){width:75px; margin-botom:0;}

div.burger {
	height: 30px;
	width: 40px;
	position: absolute;
	top: 11px;
	left: 21px;
	cursor: pointer;
}
	div.x,
	div.y,
	div.z {
		position: absolute; margin: auto;
		top: 0px; bottom: 0px;
		background: #fff;
		border-radius:2px;
		-webkit-transition: all 200ms ease-out;
		   -moz-transition: all 200ms ease-out;
		    -ms-transition: all 200ms ease-out;
		     -o-transition: all 200ms ease-out;
		        transition: all 200ms ease-out;
	}
	div.x, div.y, div.z { height: 3px; width: 26px; }
	div.y{top: 18px;}
	div.z{top: 37px;}
	div.collapse{
		top: 20px;
		background:white;
		-webkit-transition: all 70ms ease-out;
		   -moz-transition: all 70ms ease-out;
		    -ms-transition: all 70ms ease-out;
		     -o-transition: all 70ms ease-out;
		        transition: all 70ms ease-out;
	}


	div.rotate30{
		-ms-transform: rotate(30deg);
    	-webkit-transform: rotate(30deg);
	    transform: rotate(30deg);
		-webkit-transition: all 50ms ease-out;
		   -moz-transition: all 50ms ease-out;
		    -ms-transition: all 50ms ease-out;
		     -o-transition: all 50ms ease-out;
		        transition: all 50ms ease-out;
	}
	div.rotate150{
		-ms-transform: rotate(150deg);
    	-webkit-transform: rotate(150deg);
	    transform: rotate(150deg);
		-webkit-transition: all 50ms ease-out;
		   -moz-transition: all 50ms ease-out;
		    -ms-transition: all 50ms ease-out;
		     -o-transition: all 50ms ease-out;
		        transition: all 50ms ease-out;
	}

	div.rotate45{
		-ms-transform: rotate(45deg);
    	-webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
		-webkit-transition: all 100ms ease-out;
		   -moz-transition: all 100ms ease-out;
		    -ms-transition: all 100ms ease-out;
		     -o-transition: all 100ms ease-out;
		        transition: all 100ms ease-out;
	}
	div.rotate135{
		-ms-transform: rotate(135deg);
    	-webkit-transform: rotate(135deg);
	    transform: rotate(135deg);
		-webkit-transition: all 100ms ease-out;
		   -moz-transition: all 100ms ease-out;
		    -ms-transition: all 100ms ease-out;
		     -o-transition: all 100ms ease-out;
		        transition: all 100ms ease-out;
	}

div.navbar{
  height:73px;
  background:none;}

div.circle{
	border-radius: 50%;
	width: 0px;
	height: 0px;
	position:absolute;
	top: 35px;
	left: 36px;
	background:#000000f5;
	opacity:1;
	-webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
div.circle.expand{
	width:300px;
	height:400px;
	top: 0px;
	left: 0px;
	-webkit-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);

}
div.menu {
	height: 568px;
	width: 320px;
	position: absolute;
	top: 0px; left: 0px;
}
div.menu ul li {
	list-style: none;
	position:absolute;
	top:50px;;
	left:0;
	opacity:0;
	width:320px;
	text-align:center;
	font-size:0px;
	-webkit-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
div.menu ul li a {
	color:white;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing:3px;
}


div.menu ul li a:hover {
	color:white;
  background-color: grey;
}

div.menu li.animate{
	font-size:21px;
	opacity:1;
	-webkit-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
div.menu li.animate:nth-of-type(1){
	top:120px;
	transition-delay: 0.0s;
}
div.menu li.animate:nth-of-type(2){
	top:190px;
	transition-delay: 0.03s;

}
div.menu li.animate:nth-of-type(3){
	top:260px;
	transition-delay: 0.06s;

}
div.menu li.animate:nth-of-type(4){
	top:330px;
	transition-delay: 0.09s;

}
div.menu li.animate:nth-of-type(5){
	top:400px;
	transition-delay: 0.12s;

}
div.menu li.animate:nth-of-type(6){
	top:470px;
	transition-delay: 0.15s;

}
/* =============================== Main ========================== */

.principal {
	display: grid;
	grid-template-columns: 13.2% auto;
	column-gap: 1rem;
	height: 620px;
	padding-top: 87px;
}



.contenedor_Imagenes {
  	display: flex;
  	margin-top: 7%;
}




.video_1{
  margin-top: 5%;
  width: 80%;
  height: 80%;
  padding-left:15%;

}



/* =============================== CONTENT ========================== */
	/*este contect lo usa el resto de paginas html*/
#content {
	margin: 4px 0px 4px 0px;
	width: 100%;
	height:100%;
	margin:0 auto;
	display: flex;
	justify-content: center;
	padding-top: 108px;
	padding-bottom: 2%;
}

.STF0BF11B31B944F1EB48F95D727699A6A {
	background-color: rgb(27 21 21 / 62%)!important;
	border-radius: 2rem;
}

.STF0BF11B31B944F1EB48F95D727699A6A {
  margin: 0;
  padding: 0;
 overflow: auto;
 border: 1px solid #6e6666;
 justify-content: center;
 align-items: center;
 white-space: nowrap;


}

div#GridRootCtnr_5e16050d6be9b0 {
    white-space: normal !important;
    overflow-x: hidden;
}


.STF0BF11B31B944F1EB48F95D727699A6A h1 {
  color: #ffffffad !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbFormLabelRequired {
  color: #ffffffad !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbFormLabel {
  color: #ffffffad !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbFormData {
  color: #ffffffad !important;
}


/*.STF0BF11B31B944F1EB48F95D727699A6A a {
  color: #343f43 !important;
}*/


.STF0BF11B31B944F1EB48F95D727699A6A .cbFormTableRow {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbFormTableEvenRow {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetData {
  /*background-color: #e0e0e0;*/
  /*color: white !important;*/

}


.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetNavigationMessages {
  color: white !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetRecordPerPageMessage {
  color: white !important;
}


.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetRecordMessage {
  color: white !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbHTMLBlockContainer {
  color: #828a95 !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbConfirmationMessages {
  color: #828a95 !important;
}

.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetGridHeaderCell {
  background: #828a95 !important;
}




.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetHeaderCell {
  background: #828a95 !important;

}

.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetGridHeaderCellNumberDate {
  background: #828a95 !important;

}

.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetHeaderCellNumberDate {
  background: #828a95 !important;

}

.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetGridHeaderCheckBoxCell {
  background: #828a95 !important;
}


.STF0BF11B31B944F1EB48F95D727699A6A .cbResultSetHeaderCheckBoxCell {
  background: #828a95 !important;

}

.STF0BF11B31B944F1EB48F95D727699A6A .cbFormDataLink, .STF0BF11B31B944F1EB48F95D727699A6A section[class^="cbFormSection"] .cbFormData a {
  color: #027FAA !important;
}





#linea {
  background-color: #0000009e !important;
  color: #ffffffad !important;
}

#Parrafo {
  color: #ffffffad !important;
}

/*.STF0BF11B31B944F1EB48F95D727699A6A .cbFormFieldCell {
    width: 100%!important;
}*/


/*.STF0BF11B31B944F1EB48F95D727699A6A .cbFormLabelCell {
    color: #e2e8ea !important;
}*/


.cbHTMLBlockContainer{
	background: none;

}

.cbLoginButtonContainer{
	background-color: none;
}

.cbFormSection_68975ffa236b6d {
    width: 90% !important;

}


Div element.style {

  /*  overflow-y: hidden;*/
}


	/* este contect lo usa el reporte de produccion fabrica de tubos */
#content1 {
	margin: 4px 0px 4px 0px;
	padding: 10px;
	background: #fff;
	color: #fff;
	box-shadow: 0px 0px 1px 0px #bbb;
	width: 90%;
	height:100%;
	margin:0 auto;
	display: flex;
	justify-content: center;
	padding-top: 10%;
}

	/* este contect lo usa el reporte stock de tubos y produccion de concreto */
#content2 {
	margin: 4px 0px 4px 0px;
	padding: 10px;
	background: #fff;
	color: #fff;
	box-shadow: 0px 0px 1px 0px #bbb;
	width: 40%;
	height:100%;
	margin:0 auto;
	display: flex;
	justify-content: center;
	padding-top: 10%;
}
	/* =============================== Contenct de formularios========================= */


#contentinframe1 {
	margin: 4px 0px 4px 0px;
	padding: 0px;
	box-shadow: 0px 0px 1px 0px #bbb;
	margin-left: 20px;
	display: flex;
	justify-content: center;
	padding-top: 1%;
}

	/* este contect lo usa en menu de acarreos*/
#contentinframe2 {
	margin: 4px 0px 4px 0px;
	padding: 10px;
	background: #fff;
	color: #fff;
	box-shadow: 0px 0px 1px 0px #bbb;
	width: 100%;
	height: 100%;
	margin:0 auto;
	display: flex;
	justify-content: center;
	padding-top: 8%;
}



/* =============================== FOOTER ========================== */
	/*le da formato al pie de pagina*/
#cb-footer {
	width: 60%;
	clear: both;
	border-top: 0px solid #a1b5c0;
	color: white;
	margin: -2% auto;
	padding: 10px 0 10px 10px;
	font-size: 11px;
	text-align: center;
	height: 100%;


}
#cb-footer p {
	margin: 0 0 5px 0;
	padding: 0;
}
#cb-footer a {
	color: white;
	text-decoration: underline;
}
#cb-footer a:hover {
	text-decoration: none;
}
#cb-footer p:first-child{
	font-weight: bold;
}
