*{
    margin: 0;
    padding: 0;
}

body {
  font: 13px/130% Arial, Helvetica, sans-serif;
	margin: 0px;

	background: #fcfcfc url(../images/bg_texture.jpg) repeat;
}


header {
  width: 100%;

}

header nav {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  background: orange;

}


.menu_bar {
display: none;
}

header nav ul  {
overflow: hidden;
list-style: none;

}

header nav ul li {
float:left;

}

header nav ul li a {
color: white;
padding: 20px;
display: block;
text-decoration: none;

}

header nav ul li span {
margin-right: 10px

}

header nav ul li a:hover {
background: #5C9DC0;
}
