/* =============================== COMMON ========================== */

body {
	font: 85%/130% Arial, Helvetica, sans-serif;
	background: #fcfcfc url(../images/bg_texture.jpg) repeat;
	margin: 0px;
	padding: 0px;
}

.lo_top-strip {
	background: #373D41;
	height:37px;
}

.lo_top-info {
	width:900px;
	margin:0 auto;
}

.lo_bottom-strip {
	background: #3D82AB;
	border-bottom:4px solid #5C9DC0;

}

#wrapper {
	margin: 0px auto 0 auto;
	padding: 0;
	max-width: 900px;
}

table, form {
	margin: 0px;
	padding: 0px;
}


/* =============================== HEAD ========================== */

.lo_top-info h1 {
	color:#fff;
	margin:0;padding:8px 0 0 0;
	font-size:18px;
	font-weight: normal
}

.lo_top-info h1 small {
	font-size: 12px;
	font-style: italic;
}

 #links {
	float:right;
	margin-top:8px;
}

 #links a {
	color: #fff;
	text-decoration: none;
	margin: 5px 6px 0 6px;
}

/* =============================== NAVBAR ========================== */


#navbar {
	height: 30px;
	width:900px; margin:0 auto;
}
#navbar ul {
	margin: 0 0 0 0px;
	padding: 0px;
	list-style-type: none;
}
#navbar li {
	margin: 0;
	padding: 0px;
	float: left;
}
#navbar a {
	margin: 0px;
	padding: 8px 25px;
	text-decoration: none;
	color: #fff;
	display: block;
	height: 14px;
	font-size: 12px;
	text-transform: uppercase;

}
* html #navbar a {
	padding: 7px 0 3px;
	width: 120px;
	text-align: center;
}
#navbar a.selected {
	background: #5C9DC0;
}

#navbar a.selected:hover {
	background: #5C9DC0;
}

#navbar a:hover {
	color: #fff;
	background: #5C9DC0;

}

/* =============================== CONTENT ========================== */

#full-content {
	max-width: 1300px;
}
#content {
	padding: 10px;
	background: #fff;
	min-height: 700px;
	border: 1px solid #DDDDDD;
	}


}
#content1 {
	padding: 10px;
	background: #fff;
	min-height: 700px;
	border: 1px solid #DDDDDD;
	}

#content h1 {
	color: #3D82AB;
	font-size: 22px;
	margin: 10px 0px 15px;
	padding: 0px 5px ;
}

#content h2 {
	color: #3D82AB;
	font-size: 17px;
	margin: 10px 0 5px;
	padding: 0;
}
#content h3 {
	font-size: 15px;
	margin: 10px 0 5px;
	padding: 0;
	color: #3D82AB;
	font-weight: normal;
}
#content p {
	font-size: 13px;
	margin: 3px 0;
	padding: 0px 5px ;
}
#content a {
	color: #1C5F8B;
	text-decoration: none;
}
#content a:hover {
	text-decoration: underline;
}

#content .box{
	box-shadow: 0px 0px 1px 0px #bbb;
	padding: 10px;
	border: 1px solid #ccc ;
	border-radius: 10px ;
	background: #f6f6f6 ;
}

#content .button {
	font-weight: bold;
	margin: 0 3px;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	background-color: #EE5921;
	font-style: normal;
	border: none;padding: 4px 15px;
	border-bottom:2px solid #D04622;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none ;
	cursor: pointer ;

}

#content .button:hover {
	opacity:0.9;
	text-decoration: none ;
	cursor: pointer ;
}
.centered{
	text-align:center;
}
.centered form table{
	margin: 0 auto;
}
.centered form table table{
	margin: 0;
}
#InsertRecordComments{
	resize: vertical;
}
input[type="submit"]{
	cursor: pointer;
}
textarea {
    resize: vertical;
    white-space: pre-line;
    box-sizing: border-box;
}
/* =============================== FOOTER ========================== */

#cb-footer {
	clear: both;
	border-top: 0px solid #a1b5c0;
	color: #777;
	margin: 4px 0px 0px 0px;
	padding: 10px 0 10px 10px;
	font-size: 11px;
	text-align: center;
}
#cb-footer p {
	margin: 0 0 5px 0;
	padding: 0;
}
#cb-footer a {
	color: #777;
	text-decoration: underline;
}
#cb-footer a:hover{
	text-decoration: none;
}
#cb-footer p:first-child{
	font-weight: bold;
}
